.images-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-section-container .img-container {
  position: relative;
  max-width: 50%;
  overflow: hidden;
  background-color: #333;
}
.images-section-container .img-container img {
  width: 100%;
  transition: 0.2s ease-out;
}
.images-section-container .img-container .shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}
.images-section-container .img-container .text-container {
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.images-section-container .img-container .text-container .upper-span,
.images-section-container .img-container .text-container h2,
.images-section-container .img-container .text-container p,
.images-section-container .img-container .text-container a {
  color: #f1f1f1;
}
.images-section-container .img-container .text-container h2 {
  letter-spacing: 1px;
  margin-top: 0;
}
.images-section-container .img-container .text-container a {
  position: relative;
  text-decoration: none;
  transition: 0.3s ease-out;
}
.images-section-container .img-container .text-container a .arrow {
  position: absolute;
  padding-left: 10px;
}
.images-section-container .img-container .text-container a:hover {
  color: #bebebe;
}
.images-section-container .img-container:hover .image {
  transform: scale3d(1.2, 1.2, 2);
}