.header-container {
	width: 100%;
	height: 600px;
	background-image: url(../../img/pexels-tembela-bohle-1884574.jpg);
	background-size: cover;
	background-position: 0 -300px;
	.shadow {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		.header-content {
			width: 900px;
			height: 200px;
			background-color: #fff;
		}
	}
}
